* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

main {
  margin: 100px;
}

body {
  background-color: blanchedalmond;
}

section h1,
section p {
  margin-bottom: 10px;
}

button {
  padding: 0 4px;
}
