* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem pink);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 100px;
}

body {
  background-color: blanchedalmond;
}

img:hover {
  filter: drop-shadow(0 0 0.75rem red);
}

img {
  max-height: 141.6px;
}
#oel {
  grid-column: 1;
}

#snaps {
  grid-column: 2;
}

#sport {
  grid-column: 3;
}

#oeko {
  grid-column: 4;
}
